.btn {
    background-color: #373E66;
    color: #fff;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    border-radius: 20px;
    border: none;
}

.btn:hover {
    color: #000000;
}